<div class="row">
	<div class="col-xs-12">
		<div class="navbar navbar-default">
			<div class="navbar-header">
				<a href="/" class="navbar-brand hidden-md hidden-lg"><i class="fa fa-home fa-lg"></i></a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse navbar-inverse-collapse">
				<ul class="nav navbar-nav main-nav">
					<li class="hidden-xs hidden-sm"><a href="/" class="navbar-brand "><i class="fa fa-home fa-lg"></i></a></li>
					<li><a href="#">Wild Africa</a></li>
					<li><a href="#">Spicy Asia</a></li>
					<li><a href="#">Far East</a></li>
					<li><a href="#">Middle East</a></li>
					<li><a href="#">Auz</a></li>
					<li><a href="#">More Specials</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>